body {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 8px 12px;
    background-color: #0004ff;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 40%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    padding: 8px;
}